body, #root, html {
  background-color: #181818;
  color: #fff;
}


.sidebar {
  height: 100vh;
}
.sidebar-icon {
  margin: 10px 0;
  color: white;
}


.search-container {
  border: 1px #ccc solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  .search-input::placeholder {
    
    color:white;
    opacity: 1;
  }
  .search-input {
    background-color: transparent !important;
    color: white;
    border-radius: 0px !important;
    border: none !important;
    flex-grow: 1;
    padding-left: 2px;
  }
}




.search-input:focus {
  box-shadow: none !important;
}




#search-icon {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0 10px;
}

#search-icon svg {
  color: #aaa;
}

.dashboard-container{
  .card{
    background-color: rgb(33, 37, 41);
    color:#fff;
  }
}
@media (max-width: 768px) {
  .top-navbar {
    .container-fluid{
      display: flex;
      flex-direction: column;
    }
  }
}